{% extends "homey/base.html" %}
{% block content %}  

    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FNew_York&bgcolor=%23ffffff&src=Y19rM2p1bDZzcGVyOXRkaTc3OWI5dTlxaWszOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23E4C441" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <br></br>
    <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NDRpZ2RxY3VjZ25lazdicm1rczhlbGZ2c3YgY18zMTc4YzU5OWVlNTE2YThiZWExM2IzY2MzZGUxYzZmN2RlNjc5YmQ0MjBhMTFjNDI3MWJhNzU0YzM4ZWY2MDM1QGc&amp;tmsrc=c_3178c599ee516a8bea13b3cc3de1c6f7de679bd420a11c4271ba754c38ef6035%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>

{% endblock %}